.Resizable {
    position: relative;
    border: 2px lightgray;
    border-style: none solid;
    overflow: auto;
    min-width: 80px;
    transition: width 200ms;
    width: 100%;
}

.container { 
    display: flex;
    position: relative;
    height: 100%;
    width: 350px;
}

.drag {
    position: relative;
    width: 5px;
    cursor: w-resize;
}