.Label {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    text-align: left;
    border: 1px lightgray;
    border-style: solid none;
    padding: 5px 5px 10px;
}

.Content {
    padding: 5px;
    transition: 200ms;
    transition-timing-function: ease-out;
    max-height: 2000px;
    overflow: hidden;
}

pre {
    display: inline;
    margin: 5px;
    font-size: 18px;
}
