/* Overrides fixed elements in Netron */
.netron-root {
    all: initial;
    height: 100%;
    flex-grow: 1;
    position: relative;
}

.background {
    position: static;
}

.center {
    position: absolute;
}

.sidebar {
    position: absolute;
    overflow: auto;
}
