.ConvertView {
    margin: 0px 10px;
    text-align: initial;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ModelConvert {
    width: 100%;
}

.FrameworkOptions, .ONNXVersionOptions, .QuantizationOptions, .inputShape {
    width: 20%;
}

.ms-TextField, .ConvertViewControls {
    flex: 1;
}

.ConvertViewControls, .ConverterViewConsole {
    overflow: auto;
}

.ConverterViewConsole {
    display: block;
    max-height: 400px;
    color:#0012ff;
    font-size: 12px;
}

#ConvertButton {
    margin: 5px 0px;
}

.label-left-align {
    width: 10%;
    display: flex;
    align-items: center;
}

.label-center-align {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}
