.RunView {
    margin: 0px 10px;
    text-align: initial;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Arguments{
    width: 100%;
}

.ms-TextField, .RunViewControls {
    flex: 1;
}

.RunViewControls, .RunViewConsole {
    overflow: auto;
}

#RunButton {
    margin: 5px 0px;
}

.RunViewConsole {
    display: block;
    max-height: 400px;
    color:#0012ff;
    font-size: 12px;
}

.DeviceOption {
    width: 40%;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.perfForm {
    margin-left: 3%;
    padding-top: 10px;
}

.label {
    width: 10%;
    display: flex;
    align-items: center;
}