.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column
}

.MainView {
    flex: 1;
    overflow: auto;
}

.HiddenTab {
    visibility: hidden;
    overflow: hidden;
    height: 0px;
    line-height: 0px;
}

.DisplayFlex {
    display: flex;
}
