.Panel {
    text-align: left;
    min-width: 290px;
    background-color: #f8f8f8;
}

.PanelName {
    text-align: center;
}

.ShapeTextField {
    width: 70px;
    display: inline-block;
}


.TensorName, .TensorDocumentationHover {
    display: block;
    margin: 5px 5px;
}

.TensorDocumentationHover {
    cursor: pointer;
}

.TensorTypeDenotationDiv {
    display: flex;
}

.TensorTypeDenotationLabel {
    margin: 3px 5px;
}

.TensorTypeDenotation {
    flex: 1;
}

.DocString {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin: 20px;
}

.Shape {
    display: inline-block;
}

.FormatIsNotOnnx {
    margin: 10px;
    font-size: medium;
}
