.Panel {
    text-align: left;
    min-width: 290px;
    background-color: #f8f8f8;
}

.PanelName {
    text-align: center;
}

.ShapeTextField {
    width: 70px;
    display: inline-block;
}

.TensorName {
    display: inline;
    margin: 10px;
}

.Shape {
    display: inline-block;
}
